# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

__pycache__/
.DS_Store
.pytest_cache/
.ruff_cache/
.ty_cache/
*.ipynb
*.log
*.mat
*.xml
/.vendor/
/.vitepress/.temp/
/.vitepress/cache/
/.vitepress/dist/
/build/
/data/public/action/
/data/public/install/
node_modules/
tmp/
