# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

.DS_Store
*.mat
*.xml
/.vendor/
/.vitepress/cache/
/.vitepress/dist/
/build/
/data/public/action/
/data/public/install/
node_modules/
tmp/
