# Prettier configuration file for ignoring paths.
#
# For more information, visit https://prettier.io/docs/en/ignore.html.

__pycache__/
.git/
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.nu
/.vendor/
/.vitepress/cache/
/.vitepress/dist/
/build/
/data/public/
deno.lock
node_modules/
tmp/
